@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, * {
    /* Firefox */
    scrollbar-width: none;
    
    /* IE och Edge */
    -ms-overflow-style: none;
  }

  /* Targetar Chrome, Safari och nyare Edge */
  *::-webkit-scrollbar,
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}