@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    *::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none; /* IE and Edge */
    }
    * {
        scrollbar-width: none; /* Firefox */
    }
}
}